@import url("https://fonts.googleapis.com/css?family=Dosis:400,700");
@import "./dialog.css";
@import "./loader.css";

:root {
  --celadon: #A6D49F;
  --caput: #522A27;
  --sinopia: #C73E1D;
  --satin: #C59849;
  --silver: #BFB8AD;
  --white: #ffffff;
  --light-white: #efefef
  --almost-black: #333;
  --black: #000000;
  --color-border: #ccc;
  --color-input-bg: #f9f9f9;
  --radius: 10px;
  --shadow: 0 4px 8px var(--black);
  --font-main: "Dosis", sans-serif;
}
* {
  box-sizing: border-box;
}

@media (max-width:768px) {
  body {
    font: 16px/1.5 var(--font-main);
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    width: 100%;

    >nav {
      overflow: hidden;
      background:  var(--almost-black);
      position: relative;
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;

      >ul {
        display: none;
        list-style-type: none;
        

        >li>a>span:nth-child(1) {
          display: none;
        }
      }

      a {
        color: var(--white);;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }


      >a>i {
        color: var(--white);
        background: var(--almost-black);
        display: block;
        position: absolute;
        right: 0px;
        top: 0px;
        width: 32px;
        font-size: 30px;
      }
    }
  }
}

@media (min-width:769px) {
  body {
    font: 16px/1.5 var(--font-main);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr 40px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 0;
    margin: 0;

    >nav {
      grid-column: 1/span 1;
      grid-row-start: 2/span 1;

      >a {
        display: none;
      }

      >ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100%;
        background-color: #f1f1f1;
        >li>a{
          display: block;
          color: var(--black);
          padding: 8px 16px;
          text-decoration: none;
          display: flex;
          flex-direction: row;
          transition: color .2s ease-out;
  
          :nth-child(1) {
            width: 30px;
          }
        }
      }
    }
  }

  body>header {
    font-size: 28px;
    font-weight: bold;
    grid-column: 1/span 2;
    padding: 10px;
    background-size: cover;
    background-position: center;
  }

  body>footer {
    background: var(--main-white-color);
    grid-column: 1/span 2;
    grid-row-start: 3/span 1;
    overflow-y: hidden;
    padding: 10px;
  }

  body>main {
    grid-column: 2/span 1;
    grid-row-start: 2;
    overflow-y: scroll;
    padding-right: 10px;
  }
}

#scroller * {
  overflow-anchor: none;
}

#anchor {
  overflow-anchor: auto;
  height: 1px;
}

#scroller>p {
  font-family: Courier New, Courier, monospace;
  white-space: pre;
  padding: 0px;
  margin: 0px;
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }

  to {
    bottom: 30px;
    opacity: 1;
  }
}


@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }

  to {
    bottom: 0;
    opacity: 0;
  }
}


.info {
  color: rgb(102, 249, 102);
}

.warn {
  color: yellow;
}

.error {
  color: pink;
}

.dangerous {
  color: red;
}

svg.iconsize {
  height: 24px;
  width: 24px;
}


td.minwidth {
  width: 1%;
  white-space: nowrap;
}


td>figure {
  margin: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px
}

p {
  padding: 10px;
}


.diag-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.diag-box-win {
  position: absolute;
  left: 10%;
  width: 80%;
  text-align: center;
  border: 2px outset #888;
  background-color: var(--white);
  border-radius: 10px;
  top: 20%;
  padding-left: 20px;
  padding-right: 20px;
}

.blur {
  filter: blur(2px);
}

.gr {
  background-color: green;
}

.rd {
  background-color: red;
}

.ye {
  background-color: orange;
}

div.buttons {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button.withsvg {
  display: flex;
  align-items: center;
  padding: 5px;

  >span {
    margin-left: 5px;
  }
  >svg{
    height: 24px;
    width: 24px;
    path{
      fill: var(--black);
    }
  }
}
button.active{
  background-color: #007bff;
  color: var(--white);
  border-color: #007bff;
  >svg path{
    fill: #e4f70f;
  }
}

/*[Projekt-Erweiterung] Accordion Style*/
.accordion {
  background: var(--white);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

/*[Projekt-Erweiterung] Accordion Button Style*/
.accordion button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #aaa8c7;
  color: var(--white);
  border: none;
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

/*[Projekt-Erweiterung] Accordion Button Hover Style*/
.accordion button:hover {
  background-color: #d2d2db;
}

/*[Projekt-Erweiterung] Accordion Content Style*/
.accordion button input[type="button"] {
  margin-left: 10px;
  background-color: #e4e3ef;
  color: var(--black);
  border: none;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
}
/*[Projekt-Erweiterung] Accordion Content Button Hover Style*/
.accordion button input[type="button"]:hover {
  background-color:#8e8cad;
}
/*[Projekt-Erweiterung] Accordion Table Style*/
.accordion table {
  width: 100%;
  border-collapse: collapse;
  background: var(--color-input-bg);
}
/*[Projekt-Erweiterung] Accordion Table Header Style*/
.accordion thead {
  background: var(--light-white);
  color: var(--black);
}
/*[Projekt-Erweiterung] Accordion Table Cell Style*/
.accordion th, .accordion td {
  padding: 12px 15px;
  border-bottom: 1px solid var(--color-border);
  text-align: left;
}
/*[Projekt-Erweiterung] Accordion First Column Style*/
.accordion td:first-child {
  width: 200px;
  font-weight: bold;
}
/*[Projekt-Erweiterung] Accordion input and Select Style*/
.accordion input[type="text"],
.accordion select {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  font-size: 14px;
}
/*[Projekt-Erweiterung] Accordion Checkbox Style*/
.accordion input[type="checkbox"] {
  transform: scale(1.2);
}

/*[Projekt-Erweiterung] Body and General Styles*/
body {
  font: 16px/1.5 "Dosis", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--black);
}
/*[Projekt-Erweiterung] Header and Footer Styles*/
header, footer {
  background-color: var(--satin);
  padding: 10px;
  text-align: center;
}
/*[Projekt-Erweiterung] Navigation Styles*/
nav {
  background-color: var(--light-white);
  height: 100%;
  padding: 10px 0;
}
/*[Projekt-Erweiterung] Navigation List Styles*/
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*[Projekt-Erweiterung] Navigation List Item Styles*/
nav ul li a {
  display: block;
  padding: 10px 16px;
  color: var(--white);
  text-decoration: none;
  border-bottom: 1px solid var(--silver);
  transition: color 0.3s ease;     
  transition: color .2s ease-out;
  background-color: var(--light-white);
}
/*[Projekt-Erweiterung] Navigation List Item Hover Styles*/
nav ul li a:hover {
  background-color: #9594a5;
}
/*[Projekt-Erweiterung] Main Content Styles*/
main {
  background-color: var(--white);
}
/*[Projekt-Erweiterung] Heading Styles*/
h1 {
  font-size: 24px;
  border-bottom: 3px solid #dcdcdc;;
  padding-bottom: 6px;
  color: var(--caput);
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  margin: 20px 0;
  min-width: 400px;
  background-color: var(--light-white);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}
/*[Projekt-Erweiterung] Farben gewechselt*/
thead {
  background-color: #a96a15;
  color: var(--black);
  font-weight: bold;
}

td,
th {
  border-top: 1px solid #555555;
  text-align: left;
  padding: 14px;
}
/*[Projekt-Erweiterung] Farben gewechselt*/
tr:nth-child(odd) {
  background-color: #dad9e673;
}
/*[Projekt-Erweiterung] Farben gewechselt*/
tr:nth-child(even) {
  background-color: var(--white);
}

tr:last-child td {
  border-bottom: none;
}
/*[Projekt-Erweiterung] Input Field Styles*/
input[type="button"] {
  background-color: #aaa8c7;;
  color: var(--white);
  padding: 10px 18px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.2s ease, transform 0.1s ease;
  box-shadow: 0 2px 4px var(--black);
}
/*[Projekt-Erweiterung] Input Field Hover Styles*/
input[type="button"]:hover {
  background-color:  #87869d;;
  transform: translateY(-1px);
  cursor: pointer;
}
/*[Projekt-Erweiterung] Button Styles*/
.buttons {
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--caput);
  color: var(--white);
  text-align: center;
  border-radius: 4px; /* größerer Radius */
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
}

input:invalid {
  border: 2px dashed var(--sinopia);
}

input:invalid:required {
  background-image: linear-gradient(to right, var(--sinopia), var(--celadon));
}